<link rel="stylesheet" href="css/footer.css" />
<p class="footerText">
  WWEmporium.com &#124; All right reserved 2023 &#124; WWEmporium@WWE.com &#124;
  +101 1009 103 &#124; 7532 Magicstreet, Queens, NY 12345, USA
</p>
