<link rel="stylesheet" href="css/header.css" />
<a href="/" class="title"><h1>The Witchcraft & Wizardry Emporium</h1></a>
<a href="/login"></a>
<div class="navMenu">
  <a href="">Potions</a>
  <a href="">Animals</a>
  <a href="">Wands</a>
  <a href="">Books</a>
  <a href="">Magic Object</a>
  <a href="">Jewelry</a>
</div>
