<link rel="stylesheet" href="css/header.css" />
<a href="/" class="title"><h1>The Witchcraft & Wizardry Emporium</h1></a>
<a href="/login"></a>
<div class="navMenu">
  <% categorys.forEach((i) => { %>
    <a href="/filter?type=<%= i %>"><%= i %></a>
  <% }); %>
</div>
