<div class="">
    <link rel="stylesheet" href="css/itemDislplay.css" />
    <img src=<%= image %> alt="" class="itemImage" />
    <p class="itemName"><%= name %></p>
    <p class="star"><%= star %></p>
    <p class="itemPrice"><%= price %></p>
</div>