<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=	" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/defaultPage.css" />
    <link rel="stylesheet" href="css/gridDefault.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <title><%= title %></title>
  </head>
  <body class="mainContainer">
    <div class="header">
      <%- include("includes/header",{categorys: categorys}) %>
    </div>
    <div class="main">
      <!-- makes all cart item appears on page -->
      <% if (cart) {%> <% for (let i = 0; i < itemsInCart.length; i++) { %> <%
      const item = itemsInCart[i] %> <%-include("includes/itemInCart", {item:
      item, quantity: cart[item.itemName]}) %> <% } %> <% } %>
      <button class="checkout">Proceed to Checkout</button>
    </div>
    <div class="footer"><%- include("includes/footer") %></div>
  </body>
</html>
