@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");

/** #574B27
    #CBC19F
    #B49A63
    #A8A296 **/

body {
  background-color: #CBC19F;
  color: #574B27;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: #574B27;
}
