/*a css for main grid layout adds footer, header and sidebar*/

/*grid set up*/
.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 18% [col-start];
  gap: 10px;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.main {
  grid-column: 1 / 3;
  grid-row: 2;
  width: auto;
}

.footer {
  grid-column: 1 / 3;
  grid-row: 3;
  height: auto;
}
