@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.title {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  text-decoration: none;
  font-size: 20px;
}

/*css for navbar*/
.navMenu {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0;
  padding: 7px;
  box-sizing: border-box;
}

.navMenu a {
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  padding: 7px;
}

.navMenu a:hover {
  color: #b49a63;
}

/* Change the direction of the flex items to be in a column */
@media (max-width: 800px) {
  .navMenu {
    flex-direction: column;
    text-align: center;
    font-size: 1.6em;
  }
}

.loginButton:hover {
  padding: 10px 25px;
  color: #a8a296;
  background-color: #574b27;
  transition: 1s;
}
.cart {
  font-size: 50px;
}
