.main {
  display: flex;
  align-items: center;
  margin: 10px;
}

.itemImage {
  width: 50%;
  border-radius: 50px;
}

.itemDiv {
  margin-left: 50px;
}

.itemName {
  font-size: 54px;
  margin-bottom: 0;
}

.price {
  font-size: 28px;
  margin-top: 0;
}

.addCart {
  margin: 0;
  cursor: pointer;
}

.description {
  font-size: 20px;
}


